/* VTLIB-FOOTER STYLES */

/*** Font Imports ***/

/* TODO: Move font imports to global styles

/* Include these in your CSS if you don't already have VT fonts configured! */

@font-face {
    font-family: "Acherus";
    src: url("https://www.assets.cms.vt.edu/fonts/acherusgrotesque/acherusgrotesque_regular.woff2")
        format("woff2"),
        url("https://www.assets.cms.vt.edu/fonts/acherusgrotesque/acherusgrotesque_regular.woff")
        format("woff"),
        url("https://www.assets.cms.vt.edu/fonts/acherusgrotesque/acherusgrotesque_regular.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Acherus";
    src: url("https://www.assets.cms.vt.edu/fonts/acherusgrotesque/acherusgrotesque_bold.woff2")
        format("woff2"),
        url("https://www.assets.cms.vt.edu/fonts/acherusgrotesque/acherusgrotesque_bold.woff")
        format("woff"),
        url("https://www.assets.cms.vt.edu/fonts/acherusgrotesque/acherusgrotesque_bold.ttf")
        format("truetype");
    font-weight: 600;
    font-style: normal;
}


/*** Footer Styles ***/

.vtlib-footer {

    /* TODO: move color properties to css vars/deduplicate */
    --vt-maroon: #861f41;
    --vt-white: #ffffff;
    --vt-burntOrange: #e5751f;
    --vt-hokieStone: #75787b;
    --vt-hokieStone-9s: #0C0C0C;
    --vt-grey: #d7d2cb;
    --vt-smoke-9t: #FAF9FA;

    width: 100%;
    position: relative;
}

.vtlib-footer--light {
    --vtlib-footer__bg-color: var(--vt-smoke-9t);
    --vtlib-footer__text-color: var(--vt-hokieStone-9s);
    --vtlib-footer__focus-color: var(--vt-maroon);
    --vtlib-footer__section-border: 2px dashed var(--vt-hokieStone);
    --vtlib-footer__logo-primary: var(--vt-maroon);
    --vtlib-footer__logo-secondary: var(--vt-burntOrange);
}

.vtlib-footer--dark {
    --vtlib-footer__bg-color: var(--vt-hokieStone-9s);
    --vtlib-footer__text-color: var(--vt-smoke-9t);
    --vtlib-footer__focus-color: var(--vt-burntOrange);
    --vtlib-footer__section-border: 2px dashed var(--vt-grey);
    --vtlib-footer__logo-primary: var(--vt-white);
    --vtlib-footer__logo-secondary: var(--vt-burntOrange);
}

.vtlib-footer__wrapper {
    --vtlib-footer__focus-outline: 2px dashed var(--vtlib-footer__focus-color);
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
}


/** Utilities **/

/* Visually Hidden = sr-only/visually-hidden/accessibly-hidden */
.vtlib-footer__wrapper .visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(100%); 
    height: 1px; 
    overflow: hidden; 
    position: absolute; 
    white-space: nowrap; 
    width: 1px;
}

/* Focus Ring Override */
.vtlib-footer__wrapper a:focus-visible,
.vtlib-footer__wrapper .vtlib-footer__interactive:focus-visible {
    outline: var(--vtlib-footer__focus-outline) !important;
    outline-offset: 3px !important;
}


/** Swoop & Nested Logo **/

.vtlib-footer__swoop { width: min(50rem, 800px, 100%); }
.vtlib-footer_swoop-path--middle-stripe { fill: var(--vt-maroon); }
.vtlib-footer_swoop-path--base-stripe { fill: var(--vtlib-footer__bg-color); }
.vtlib-footer_swoop-path--top-stripe { fill: var(--vtlib-footer__logo-secondary); }

.vtlib-footer__swoop .vtlib-footer__logo-path--primary { fill: none; }
.vtlib-footer__swoop .vtlib-footer__logo-path--secondary { fill: none; }

.vtlib-footer--no-swoop .vtlib-footer__swoop,
.vtlib-footer__swoop a  {
    display: none;
}

@media screen and (min-width: max(48rem, 768px)) {
    .vtlib-footer__swoop .vtlib-footer__logo-path--primary { fill: var(--vtlib-footer__logo-primary); }
    .vtlib-footer__swoop .vtlib-footer__logo-path--secondary { fill: var(--vtlib-footer__logo-secondary); }
    .vtlib-footer__swoop a { display: inline; }
}

.vtlib-footer__logo-path--primary { fill: var(--vtlib-footer__logo-primary); }
.vtlib-footer__logo-path--secondary { fill: var(--vtlib-footer__logo-secondary); }


/** Content Wrapper **/

.vtlib-footer__content-wrapper {
    background-color: var(--vtlib-footer__bg-color);
    width: calc(100% - 2 * min(5%, 16px));
    position: relative;
    padding: 1rem min(5%, 16px);
    display: flex;
    flex-flow: column wrap;
    font-family: Acherus, Acherus-Grotesque, sans-serif !important;
    color: var(--vtlib-footer__text-color);

    /* Base font sizes and line heights for mobile and desktop - these can be modified */
    --vtlib-footer__mobile-font-size--rem: 1.25;
    --vtlib-footer__mobile-line-height: 1.2;
    --vtlib-footer__desktop-font-size--rem: 1;
    --vtlib-footer__desktop-line-height: 1.2;

    /* Font size and padding calculations for accessible target sizes: 44px (mobile) and 24px (desktop)  - DO NOT MODIFY */
    --vtlib-footer__mobile-font-size--px: calc(var(--vtlib-footer__mobile-font-size--rem) * 16px);
    --vtlib-footer__mobile-font-size: max(var(--vtlib-footer__mobile-font-size--px), calc(var(--vtlib-footer__mobile-font-size--rem) * 1rem));
    --vtlib-footer__mobile-padding: calc((44px - var(--vtlib-footer__mobile-line-height) * var(--vtlib-footer__mobile-font-size--px)) / 2);
    --vtlib-footer__desktop-font-size--px: calc(var(--vtlib-footer__desktop-font-size--rem) * 16px);
    --vtlib-footer__desktop-padding: calc((30px - var(--vtlib-footer__desktop-line-height) * var(--vtlib-footer__desktop-font-size--px)) / 2);
    --vtlib-footer__desktop-font-size: max(var(--vtlib-footer__desktop-font-size--px), calc(var(--vtlib-footer__desktop-font-size--rem) * 1rem));

    font-size: var(--vtlib-footer__mobile-font-size) !important;
    line-height: var(--vtlib-footer__mobile-line-height) !important; 
}

@media screen and (min-width: max(48rem, 768px)) {
    .vtlib-footer__content-wrapper {
        font-size: var(--vtlib-footer__desktop-font-size) !important;
        line-height: var(--vtlib-footer__desktop-line-height) !important; 
    }
}

.vtlib-footer--no-swoop .vtlib-footer__content-wrapper {
    border-top: 8px solid var(--vtlib-footer__focus-color);
    padding-top: 0.5rem;
}


/** Logo (Outside of Swoop) **/

.vtlib-footer__logo {
    padding: 0px;
    position: relative;
    height: fit-content;
    width: calc(min(14rem, 100%) - min(16px, 1rem, 2%));
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 1rem min(8px, 0.5rem, 1%);
}

.vtlib-footer__logo svg {
    height: 100%;
    overflow: visible;
}

@media screen and (min-width: max(48rem, 768px)) {
    .vtlib-footer:not(.vtlib-footer--no-swoop) .vtlib-footer__logo { display: none; }
}


/*** Unstyled Lists of Links ***/

.vtlib-footer__list--unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.vtlib-footer__list--unstyled > li a,
.vtlib-footer__contact-section address a {
    display: flex;
    align-items: center;
    min-height: max(24px, 1.5rem);
    padding: var(--vtlib-footer__mobile-padding) 0;
    text-decoration: none;
    color: var(--vtlib-footer__text-color);
}

.vtlib-footer__list--unstyled > li a:not(:has(svg)):not(.vtlib-footer__give-button) {
    color: var(--vtlib-footer__text-color);
}

.vtlib-footer__list--unstyled > li a:not(:has(svg)):not(.vtlib-footer__give-button):hover,
.vtlib-footer__contact-section address a:hover {
    color: var(--vtlib-footer__focus-color);
    text-decoration: underline;
}

/* Link with Fed Depository Library Program Icon */

.vtlib-footer__list--unstyled .vtlib-footer__decorative-icon {
    display: flex;
    flex-flow: row wrap;
    padding: max(6px, 0.375rem) 0;
    gap: 4px;
}

.vtlib-footer__list--unstyled .vtlib-footer__decorative-icon img {
    object-fit: contain;
    height: calc(max(32px, 2rem) - 4px);
    background-color: var(--vt-white);
    padding: 1px 0 2px 0;
    margin-top: 1px;
    overflow: hidden;
    border-radius: 2px 2px 20px 20px;
}

@media screen and (min-width: max(48rem, 768px)) {
    .vtlib-footer__list--unstyled > li a {
        min-height: var(--vtlib-footer__desktop-font-size);
        padding: var(--vtlib-footer__desktop-padding) 0;
    }

    /* Link with Fed Depository Library Program Icon */

    .vtlib-footer__list--unstyled .vtlib-footer__decorative-icon {
        padding: 0;
    }

    .vtlib-footer__list--unstyled .vtlib-footer__decorative-icon img {
        height: calc(max(24px, 1.5rem) - 4px);
    }
}


/*** Main Info Row ***/

.vtlib-footer__main-info {
    width: 100%;
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: calc(1 * var(--vtlib-footer__mobile-font-size--px));
    margin-bottom: calc(2 * var(--vtlib-footer__mobile-font-size--px));
    margin-top: calc(1 * var(--vtlib-footer__mobile-font-size--px));
}

.vtlib-footer__main-info > section,
.vtlib-footer__bottom-links-section {
    width: 100%;
    border-top: var(--vtlib-footer__section-border);
    justify-self: center;
    align-self: start;
    padding: 0;
    text-wrap: pretty;
}

.vtlib-footer__main-info .vtlib-footer__section-heading {
    text-transform: uppercase;
    margin: 1rem 0 0.5rem 0;
}

@media screen and (min-width: max(48rem, 768px)) {
    .vtlib-footer__main-info {
        align-self: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        padding: 0;
        gap: calc(2 * var(--vtlib-footer__desktop-font-size--px));
        margin-bottom: calc(2 * var(--vtlib-footer__desktop-font-size--px));
    }

    .vtlib-footer__main-info > section {
        width: fit-content;
        border-top: none;
        border-left: var(--vtlib-footer__section-border);
        justify-self: center;
        align-self: start;
        padding: 0 16px;
    }

    .vtlib-footer__bottom-links-section {
        border: none;
    }

    .vtlib-footer__main-info > section:first-child {
        justify-self: start;
    }

    .vtlib-footer__main-info > section:last-child {
        justify-self: end;
    }

    .vtlib-footer__main-info > section:not(.vtlib-footer__locations-section) {
        text-wrap: nowrap;
    }

    .vtlib-footer__main-info .vtlib-footer__section-heading {
        width: fit-content;
        margin-top: 0;
    }
}


/*** Contact Section ***/

.vtlib-footer__contact-section address {
    width: fit-content;
    font-style: normal;
    line-height: 1.5;
    margin-bottom: max(12px, 0.75rem);
}

.vtlib-footer__contact-section address > * {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
}

.vtlib-footer__contact-section address > * span {
    display: inline-block;
}

.vtlib-footer__social-links {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    margin: 1rem 0;
}

.vtlib-footer__social-links > li a {
    background-color: var(--vtlib-footer__text-color);
    padding: 0px;
    aspect-ratio: 1/1;
    position: relative;
    width: max(44px, 2rem);
    height: fit-content;
    border-radius: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.vtlib-footer__social-links > li a:hover,
.vtlib-footer__give-button:hover,
.vtlib-footer__swoop a:hover,
a.vtlib-footer__logo:hover {
    outline: var(--vtlib-footer__focus-outline);
    outline-offset: 3px;
}

.vtlib-footer__social-links > li a > svg {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    padding: 6px;
    vertical-align: -0.125em;
    overflow: hidden;
    fill: var(--vtlib-footer__bg-color);
}

@media screen and (min-width: max(48rem, 768px)) {
    
    .vtlib-footer__social-links > li a {
        width: max(32px, 2rem);
    }
    
    .vtlib-footer__social-links > li a > svg {
        padding: 4px;
    }
}


/*** About Section ***/

.vtlib-footer__content-wrapper .vtlib-footer__give-button {
    width: fit-content;
    background-color: var(--vtlib-footer__text-color);
    padding: calc(var(--vtlib-footer__mobile-font-size--px) * 0.875) calc(var(--vtlib-footer__mobile-font-size--px) * 1.75);
    color: var(--vtlib-footer__bg-color);
    align-self: center;
    border-radius: 3px;
    font-weight: 600;
    text-align: center;
}

@media screen and (min-width: max(48rem, 768px)) {
    .vtlib-footer__content-wrapper  .vtlib-footer__give-button {
        padding: calc(var(--vtlib-footer__desktop-font-size--px) * 0.875) calc(var(--vtlib-footer__desktop-font-size--px) * 1.75);
        margin-top: calc(var(--vtlib-footer__desktop-font-size--px) * 0.625);
    }
}


/*** Bottom Links Section ***/

.vtlib-footer__bottom-links-section {
    align-self: center;
}

.vtlib-footer__bottom-links-section ul {
    display: flex;
    flex-flow: column wrap;
    padding: 1rem;
    justify-content: center;
    width: auto;
    list-style: none;
}

.vtlib-footer__bottom-links-section ul li a {
    display: inline-block;
    text-transform: uppercase;
}

@media screen and (min-width: max(32rem, 576px)) {
    .vtlib-footer__bottom-links-section ul {
        flex-flow: row wrap;
    }

    .vtlib-footer__bottom-links-section ul > li:not(:last-child)::after {
        content: "|";
        padding: 0 12px;
    }
}


/*** Copyright ***/

.vtlib-footer__vt-copyright {
    display: flex;
    height: 2.25rem;
    background-color: #000000;
    color: var(--vt-white);
    justify-content: center;
    align-items: center; 
    font-size: 0.75rem;
    text-align: center;
    line-height: 1;
    font-family: Acherus, Acherus Grotesque, sans-serif;
}

.vtlib-footer--no-copyright .vtlib-footer__vt-copyright {
    display: none;
}

/* END VTLIB-FOOTER STYLES */